<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>455747888934-hsj01u6ohs5k4c5uegdh53sb2c4il5aj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.455747888934-hsj01u6ohs5k4c5uegdh53sb2c4il5aj</string>
	<key>API_KEY</key>
	<string>AIzaSyBYID9Z9olHdWQDFJHz4i-5GQ52wvwJY6M</string>
	<key>GCM_SENDER_ID</key>
	<string>455747888934</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.TestingNotifications</string>
	<key>PROJECT_ID</key>
	<string>testing-notifications-c014a</string>
	<key>STORAGE_BUCKET</key>
	<string>testing-notifications-c014a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:455747888934:ios:0e9c51a1f5653d273d83e7</string>
	<key>DATABASE_URL</key>
	<string>https://testing-notifications-c014a.firebaseio.com</string>
</dict>
</plist>